<div
  class="row d-flex justify-content-center min-vh-80 my-5"
  *transloco="let t"
>
  <form
    [formGroup]="registrationForm"
    (ngSubmit)="onSubmit()"
    class="col-12 col-md-6 p-4 p-sm-5 bg-light rounded shadow d-flex flex-column gap-3"
  >
    <h2>{{ t("register.title") }}</h2>
    <div class="invisible">
      <input type="text" formControlName="honeypot"/>
    </div>
    <mat-form-field>
      <mat-label>{{ t("register.email") }}</mat-label>
      <input matInput type="email" formControlName="email"/>
      @if (email?.touched && email?.errors?.["required"]) {
        <mat-error>{{ t("register.emailRequired") }}</mat-error>
      }
      @if (email?.touched && email?.errors?.["email"]) {
        <mat-error>{{ t("register.emailInvalid") }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field
      [ngClass]="{
        'mb-5':
          password?.touched &&
          password?.errors?.['required'] &&
          password?.errors?.['strongPassword'],
        'mb-4': password?.touched && password?.errors?.['strongPassword'],
      }"
    >
      <mat-label>{{ t("register.password") }}</mat-label>
      <input matInput type="password" formControlName="password"/>
      @if (password?.touched && password?.errors?.["required"]) {
        <mat-error>{{ t("register.passwordRequired") }}</mat-error>
      }
      @if (password?.touched && password?.errors?.["minlength"]) {
        <mat-error>{{ t("register.passwordMinLength") }}</mat-error>
      }
      @if (password?.touched && password?.errors?.["strongPassword"]) {
        <mat-error>{{ t("register.passwordWeak") }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ t("register.confirmPassword") }}</mat-label>
      <input matInput type="password" formControlName="confirmPassword"/>
      @if (confirmPassword?.touched && confirmPassword?.errors?.["required"]) {
        <mat-error>{{ t("register.confirmPasswordRequired") }}</mat-error>
      }
      @if (confirmPassword?.touched &&
      confirmPassword?.errors?.["passwordMismatch"]) {
        <mat-error>{{ t("register.passwordMismatch") }}</mat-error>
      }
    </mat-form-field>
    <div class="btn-toolbar">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="registrationForm.invalid || loading"
      >
        {{ t("register.submit") }}
      </button>
    </div>
  </form>
</div>
