/* Global styles for inv-portfolio-simulator */
/* Note: Ensure Angular Material theme (azure-blue.css) and Tailwind CSS are included separately in angular.json or HTML */
@import "tailwindcss";
html,
body {
  height: 100%;
  background-color: var(--color-gray-200);
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mdc-notched-outline__notch {
  border-right: none;
}

.mat-mdc-snack-bar-container.custom-toast {
  min-width: 250px;
  margin: 10px;
  border-radius: 4px;
}

.mat-mdc-snack-bar-container.info-toast {
  --mdc-snackbar-container-color: rgba(25, 118, 210, 0.2);
  --mat-snack-bar-button-color: rgb(0, 0, 0);
  --mdc-snackbar-supporting-text-color: rgb(0, 0, 0);
  border: 2px solid #0d47a1;
}

.mat-mdc-snack-bar-container.warning-toast {
  --mdc-snackbar-container-color: rgba(255, 152, 0, 0.2);
  --mdc-snackbar-supporting-text-color: rgb(0, 0, 0);
  --mat-snack-bar-button-color: rgb(0, 0, 0);
  border: 2px solid #f57c00;
}

.mat-mdc-snack-bar-container.error-toast {
  --mdc-snackbar-container-color: rgba(244, 67, 54, 0.2);
  --mdc-snackbar-supporting-text-color: rgb(0, 0, 0);
  --mat-snack-bar-button-color: rgb(0, 0, 0);
  border: 2px solid #d32f2f;
}
